# fly.toml app configuration file generated for eld-trips-log-book-system on 2025-12-05T01:38:28Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'eld-trips-log-book-system'
console_command = '/code/manage.py shell'
primary_region = 'jnb'

[build]

[deploy]
release_command = 'python manage.py migrate --noinput'

[env]
PORT = '8000'

[http_service]
auto_start_machines = true
auto_stop_machines = 'off'
force_https = true
internal_port = 8000
min_machines_running = 0
processes = ['app']

[[vm]]
cpu_kind = 'shared'
cpus = 1
memory = '1gb'
memory_mb = 1024

[[statics]]
guest_path = '/code/static'
url_prefix = '/static/'
